body {
    background-attachment: fixed;
    background-image: url(Pack.jpg);
    background-size: cover;
    font-family: cursive;
    color: white;
}

.back {
    position: relative;
    top: 30px;
    left: 45px;
    width: 110px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
}

.back a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.content {
    text-align: center;
    margin: 200px;
}

.red {
    color: brown;
}

input,
select {
    border-radius: 15px;
    font-family: cursive;
    font-size: 20px;
    margin-top: 30px;
}

form {
    font-size: 20px;
}

.content2 {
    margin-left: 350px;
    margin-top: 300px;
}

ol {
    font-size: 20px;
    color: rgb(199, 194, 194);
    margin: 30px 15px 60px;
}